<a href="https://colab.research.google.com/github/pankajjindal/DailyCoding/blob/master/two_sum.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
def two_sum(array, target):
    dic = {}
    for i, num in enumerate(array):
        if num in dic:
            return dic[num], i
        else:
            dic[target - num] = i
        print(dic)
    return None

In [0]:
arr=[1,5,7,9,11,13]

In [0]:
num=25

In [23]:
two_sum(arr,num)

{24: 0}
{24: 0, 20: 1}
{24: 0, 20: 1, 18: 2}
{24: 0, 20: 1, 18: 2, 16: 3}
{24: 0, 20: 1, 18: 2, 16: 3, 14: 4}
{24: 0, 20: 1, 18: 2, 16: 3, 14: 4, 12: 5}