In [1]:
import sqlite3

In [2]:
sql_command = """
CREATE TABLE employee ( 
staff_number INTEGER PRIMARY KEY, 
fname VARCHAR(20), 
lname VARCHAR(30), 
gender CHAR(1), 
joining DATE,
birth_date DATE);"""

In [3]:
sql_command

'\nCREATE TABLE employee ( \nstaff_number INTEGER PRIMARY KEY, \nfname VARCHAR(20), \nlname VARCHAR(30), \ngender CHAR(1), \njoining DATE,\nbirth_date DATE);'

In [4]:
connection = sqlite3.connect("company.db")

In [5]:
connection

In [6]:
cursor = connection.cursor()

In [7]:
cursor

In [8]:
cursor.execute(sql_command)

In [9]:
staff_data = [ ("William", "Shakespeare", "m", "1961-10-25"),
               ("Frank", "Schiller", "m", "1955-08-17"),
               ("Jane", "Wall", "f", "1989-03-14") ]

In [10]:
staff_data

[('William', 'Shakespeare', 'm', '1961-10-25'),
 ('Frank', 'Schiller', 'm', '1955-08-17'),
 ('Jane', 'Wall', 'f', '1989-03-14')]

In [13]:
for p in staff_data:
    format_str = """INSERT INTO employee (staff_number, fname, lname, gender, birth_date)
    VALUES (NULL, "{first}", "{last}", "{gender}", "{birthdate}");"""
    sql_command = format_str.format(first=p[0], last=p[1], gender=p[2], birthdate = p[3])
    cursor.execute(sql_command)

In [14]:
cursor.execute("SELECT * FROM employee") 
print("fetchall:")
result = cursor.fetchall() 
for r in result:
    print(r)
cursor.execute("SELECT * FROM employee") 
print("\nfetch one:")
res = cursor.fetchone() 
print(res)

fetchall:
(1, 'William', 'Shakespeare', 'm', None, '1961-10-25')
(2, 'Frank', 'Schiller', 'm', None, '1955-08-17')
(3, 'Jane', 'Wall', 'f', None, '1989-03-14')

fetch one:
(1, 'William', 'Shakespeare', 'm', None, '1961-10-25')